.layout-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap; /* empilha no mobile */
    max-width: 1200px;
    margin: 0 auto;
}

.map-container,
.ordenes-container {
    flex: 1 1 48%;
    max-width: 48%;
}

@media (max-width: 768px) {
    .map-container,
    .ordenes-container {
        flex: 1 1 100%;
        max-width: 100%;
    }
}


/* map */

.map-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.titulo-mapa {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.map {
    position: relative;
    width: 100%;
    aspect-ratio: 979 / 599; /* mantém a proporção da imagem */
}

.map img:first-child {
    width: 100%;
    height: auto; /* <-- permite que a altura seja proporcional à largura */
    object-fit: contain;
    display: block;
}

.semaforo {
    position: absolute;
    width: 10px;
    height: auto;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.avg {
    position: absolute;
    width: 25px;
    height: auto;
    transform: translate(-50%, -50%);
    pointer-events: none;
}


/* ordenes */

.ordenes-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.titulo-ordenes {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}







