<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="layout-container">
        <!-- map -->
        <div class="map-container">
            <h1 class="titulo-mapa">Mapa</h1>
            <div class="map">
                <img src="{{ url_for('static', filename='mapa.png') }}" alt="Mapa">

                <!-- Generar semáforos dinámicamente con Jinja -->
                {% for semaforo in semaforos %}
                    <img 
                        id="{{ semaforo.id }}" 
                        class="semaforo pos-semaforo" 
                        src="{{ url_for('static', filename='punto-gris.png') }}" 
                        style="left: {{ semaforo.left }}; top: {{ semaforo.top }};" 
                        alt="Semáforo"
                    >
                {% endfor %}

                <img
                    id="punto-avg"
                    class="avg"
                    src="{{ url_for('static', filename='avg-rojo.png') }}"
                    alt="AVG"
                >
            </div>
        </div>

        <!-- Lista de ordenes -->
        <div class="ordenes-container">
            <h1 class="titulo-ordenes">Ordenes</h1>
            <table class="table table-bordered border-primary">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Origen</th>
                    <th scope="col">Destino</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>

    {% include "footer.html" %}
</body>
</html>
