<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map with Overlay Dots</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Lau</h1>
    <div class="map">
        <img src="static/mapa.png" alt="Map">
        <img src="static/green.png" class="dot green-dot" alt="Green Dot">
        <img src="static/red.png" class="dot red-dot" alt="Red Dot">
    </div>    
</body>
</html>